<p>s</p>
<div #confirmModal class="modal modal-backdrop fade in" role="dialog">
  <div class="modal-dialog content-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Continuar</h5>
        <button type="button" class="close">&times;</button>
      </div>
      <div class="modal-body" style="text-align: center">
        <i
          class="fa"
          class="fa fa-check-circle text-success"
          style="font-size: 48px; margin-bottom: 16px"
        ></i>
        <p>
          El tiempo de inicio de sesión ha expirado, por favor genere un nuevo
          token si desea continuar, de lo contrario cierre sesión.
        </p>
      </div>
      <div class="modal-footer" style="justify-content: center; gap: 16px">
        <button type="button" class="btn btn-default" (click)="onLogout()">
          cerrar sesión
        </button>
        <button type="button" class="btn btn-primary" (click)="onContinue()">
          Continuar en la sesión
        </button>
      </div>
    </div>
  </div>
</div>
