 <!-- Main content -->
 <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">

        <div class="col-lg-4 col-6"   *ngFor="let item of moduleList">
          <!-- small card -->
          <div class="small-box bg-success">
            <div class="inner">
              <h4>{{item.subModule.name}}</h4>
              <p>{{item.profile.name}}</p>
            </div>
            <div class="icon">
              <i class="fas fa-chart-pie"></i>
            </div>
            <a style="cursor: pointer;" class="small-box-footer"  (click)="this.redirect(item.subModule.path)">
              ingresar <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>
  <!-- /.content -->

<!-- /.content-wrapper -->
